<nav #navbar class="navbar navbar-expand-lg navbar-absolute navbar-default fixed-top"  [ngClass]="{ 'bg-info': isConnected , 'navbar-transparent': !isConnected}">
  <div class="container-fluid">
    <div class="navbar-wrapper">

      <a class="navbar-brand" href="javascript:void(0)">{{pageTitle}}</a>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"   title="Notificări">
            <span [hidden]="isManager() ? !activeNotificationsExist(managerNotifications) : !activeNotificationsExist(employeeNotifications)" (click)="isManager() ? deactivateNotifications(managerNotifications) : deactivateNotifications(employeeNotifications)" class="badge badge-danger btn-round ml-2">{{isManager() ? countActiveNotifications(managerNotifications) : countActiveNotifications(employeeNotifications)}}</span>
            <i (click)="isManager() ? deactivateNotifications(managerNotifications) : deactivateNotifications(employeeNotifications)" class="nc-icon nc-bell-55"></i>
            <p>
              <span class="d-lg-none d-md-block">Some Actions</span>
            </p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" >
            <div *ngFor="let managerNotification of managerNotifications">
            <a *ngIf="managerNotification.active"  class="dropdown-item" href="javascript:void(0)">{{managerNotification.message}}</a>
            </div>
            <div *ngFor="let employeeNotification of employeeNotifications">
              <a *ngIf="employeeNotification.active"  class="dropdown-item" href="javascript:void(0)">{{employeeNotification.message}}</a>
            </div>
          </div>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="javascript:void(0)" data-toggle="modal" data-target="#logoutModal" title="Deconectare">
            <i class="nc-icon nc-button-power"></i>
            <p>
              <span class="d-lg-none d-md-block">Account</span>
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade modal-primary"   id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="modal-profile ml-auto mr-auto">
          <i class="nc-icon nc-button-power"></i>
        </div>
      </div>
      <div class="modal-body">
        <p>Ești sigur că vrei să te deconectezi de la sesiunea curentă?</p>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button type="button" class="btn btn-link btn-link" (click)="authService.logout();hideLogoutModal()"  data-dismiss="modal">Confirmă</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
          <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Renunță</button>
        </div>
      </div>
    </div>
  </div>
</div>
