<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Stare civilă</h4>
        </div>
        <div class="card-body ">
          <form [formGroup]="maritalStatusFormGroup" method="get" action="/" class="form-horizontal"
                *ngIf="maritalStatusFormGroup">
            <div class="row">
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-lg-2" >
                    <select formControlName="maritalStatus" class="selectpicker  form-control mt-sm-3" data-size="7"
                            data-style="btn btn-outline-success btn-round"
                            title="Stare civilă">
                      <option *ngFor="let referential of maritalStatusReferentials" >
                        {{referential.label}}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Data</label>
                      <input formControlName="startingDate" type="text" class="form-control" placeholder="Data">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Nume soț/soție</label>
                      <input formControlName="lastName" type="text" class="form-control" placeholder="Nume soț/soție">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Prenume soț/soție</label>
                      <input formControlName="firstName" type="text" class="form-control" placeholder="Prenume soț/soție">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>CNP soț/soție</label>
                      <input formControlName="personIdentifier" type="text" class="form-control" placeholder="CNP soț/soție">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Dată naștere soț/soție</label>
                      <input formControlName="birthDate" type="text" class="form-control" placeholder="Dată naștere soț/soție">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label></label>
                      <div class="col-sm-10 checkbox-radios">
                        <div class="form-check">
                          <label class="form-check-label ">
                            <input formControlName="worksInCompany" class="form-check-input" type="checkbox">
                            <span class="form-check-sign"></span>
                            Angajat în companie
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class = "row">
                <div class="col-md-4">
                           <span class="btn btn-file btn-outline-info btn-round" (change) =" uploadMarriageCertificateFile($event)">
                             Atașează certificat de căsătorie
                               <input type="file" accept="application/pdf" title="">
                            </span>
                </div>
              </div>
            </div>
            </div>
            <div class="card-footer text-right">
              <button type="submit" class="btn btn-outline-danger btn-round mb-3" (click)="putMaritalStatusAndPartner()">Salvează</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
  <div class="alert alert-primary fade show" *ngIf="!isDoesAnyChildExist">
    <span>Nu există copii prezenți</span>
  </div>
  <div class="row" *ngFor="let child of children; let i = index">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div id="accordion{{i}}" role="tablist" aria-multiselectable="true" class="card-collapse">
            <h4 class="card-title">{{'Copil'}} </h4>
            <div class="card card-plain">
              <div class="card-header" role="tab" id="headingOne">
                <a data-toggle="collapse" data-parent="#accordion{{i}}" href="#collapseOne{{i}}" aria-expanded="false"
                   aria-controls="collapseOne{{i}}">
                  {{child.lastName + ' ' + child.firstName}}
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </div>
              <div id="collapseOne{{i}}" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                  <form [formGroup]="childrenFormGroups[i]" *ngIf="childrenFormGroups">
                    <div class="row">
                      <div class="col-sm-10">
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Nume</label>
                              <input formControlName="lastName" type="text" class="form-control" placeholder="Nume">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Prenume</label>
                              <input formControlName="firstName" type="text" class="form-control" placeholder="Prenume">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>CNP</label>
                              <input formControlName="personIdentifier" type="text" class="form-control" placeholder="CNP">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Dată naștere</label>
                              <input formControlName="birthDate" type="text" class="form-control" placeholder="Dată naștere">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2" >
                            <select formControlName="gender" id ='{{i}}' class="selectpicker form-control mt-sm-3" data-size="7"
                                    data-style="btn btn-outline-success btn-round"
                                    title="Sex">
                              <option *ngFor="let referential of genderReferentials" >
                                {{referential.label}}
                              </option>
                            </select>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label></label>
                              <div class="col-sm-8 checkbox-radios mt-sm-2">
                                <div class="form-check">
                                  <label class="form-check-label ">
                                    <input formControlName="worksInCompany" class="form-check-input" type="checkbox">
                                    <span class="form-check-sign"></span>
                                    Angajat în companie
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                            <div class="col-md-4 mt-sm-2">
                           <span class="btn btn-file btn-outline-info btn-round" (change) =" uploadBirthCertificateFile($event, i)">
                             Atașează certificat de naștere
                               <input type="file" accept="application/pdf" title="">
                            </span>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer text-right">
                      <button type="submit" class="btn btn-outline-danger btn-round mb-3">Salvează</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="text-right">
  <button type="submit" class="btn btn-outline-danger btn-round mb-3" data-toggle="modal"
          data-target="#newChildModal" (click)="reinitializePicker()">Adaugă copil
  </button>
</div>
  <div class="modal fade" id="newChildModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="nc-icon nc-simple-remove"></i>
          </button>
          <h4 class="title">Copil nou pentru {{employee.lastName + ' ' + employee.firstName}}</h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="newChildFormGroup" *ngIf="newChildFormGroup">
            <div class="row">
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input formControlName="lastName" type="text" class="form-control" placeholder="Nume">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input formControlName="firstName" type="text" class="form-control" placeholder="Prenume">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input formControlName="personIdentifier" type="text" class="form-control" placeholder="CNP">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input formControlName="birthDate" type="text" class="form-control" placeholder="Dată naștere">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4" >
                    <select formControlName="gender" class="selectpicker form-control mt-sm-2" data-size="7"
                            data-style="btn btn-outline-success btn-round"
                            title="Sex">
                      <option *ngFor="let referential of genderReferentials" >
                        {{referential.label}}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-7">
                    <div class="form-group">
                      <label></label>
                      <div class="col-sm-10 checkbox-radios mt-sm-2">
                        <div class="form-check">
                          <label class="form-check-label ">
                            <input formControlName="worksInCompany" class="form-check-input" type="checkbox">
                            <span class="form-check-sign"></span>
                            Angajat în companie
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class = "row">
                  <div class="col-md-8">
                           <span class="btn btn-file btn-outline-info btn-round" (change) =" uploadNewBirthCertificateFile($event)">
                             Atașează certificat de naștere
                               <input type="file" accept="application/pdf" title="">
                            </span>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="modal-footer">
            <div class="left-side">
              <button type="button" class="btn btn-default btn-link" data-dismiss="modal" (click)="putNewChild()">Salvează noul copil
              </button>
            </div>
            <div class="divider"></div>
            <div class="right-side">
              <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Închide</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
