<div class="main-content">
  <div class="alert alert-info fade show" *ngIf="!doHolidayRequestsThatNeedApprovalExist()">
    <span>Nu există cereri de concediu</span>
  </div>
  <div class="row" *ngIf="doHolidayRequestsThatNeedApprovalExist()">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Gestionează cereri de concediu </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="">
              <th>
                Angajat
              </th>
              <th>
                De la
              </th>
              <th>
                Până
              </th>
              <th>
                Motiv plecare
              </th>
              <th class="text-right">
                Număr zile
              </th>
              <th class="text-right">
                Stare
              </th>
              <th class="text-right">
                Validat
              </th>
              <th class="text-right">
                Acțiune
              </th>
              </thead>
              <tbody>
              <tr *ngFor="let holiday of holidays">
                <td *ngIf="!holiday.validated">
                  {{holiday.employee.firstName + ' '  + holiday.employee.lastName}}
                </td>
                <td *ngIf="!holiday.validated">
                  {{formatDate(holiday.fromDate)}}
                </td>
                <td *ngIf="!holiday.validated">
                  {{formatDate(holiday.toDate)}}
                </td>
                <td *ngIf="!holiday.validated">
                  {{holiday.holidayType.label}}
                </td>
                <td class="text-right" *ngIf="!holiday.validated">
                  {{dateDifference(holiday.fromDate, holiday.toDate)}}
                </td>
                <td class="text-right" *ngIf="!holiday.validated">
                  {{'În așteptare'}}
                </td>
                <td class="text-right" *ngIf="!holiday.validated">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [checked]="holiday.validated" disabled>
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
                <td class="text-right" *ngIf="!holiday.validated">
                  <span class="btn btn-file btn-success btn-sm" title="Aprobă" (click)="validateHolidayRequest(holiday)">
                    <i class = "fa fa-check-circle"></i>
                    <input>
                  </span>
                  <span class="btn btn-file btn-danger btn-sm" title = "Respinge" (click)="rejectHolidayRequest(holiday)">
                    <i class = "fa fa-times-circle"></i>
                    <input>
                  </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Istoric cereri de concediu </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="">
              <th>
                Angajat
              </th>
              <th>
                De la
              </th>
              <th>
                Până
              </th>
              <th>
                Motiv plecare
              </th>
              <th class="text-right">
                Număr zile
              </th>
              <th class="text-right">
                Stare
              </th>
              <th class="text-right">
                Validat
              </th>
              </thead>
              <tbody>
              <tr *ngFor="let holiday of holidays">
                <td *ngIf="holiday.validated">
                  {{holiday.employee.firstName + ' '  + holiday.employee.lastName}}
                </td>
                <td *ngIf="holiday.validated">
                  {{formatDate(holiday.fromDate)}}
                </td>
                <td *ngIf="holiday.validated">
                  {{formatDate(holiday.toDate)}}
                </td>
                <td *ngIf="holiday.validated">
                  {{holiday.holidayType.label}}
                </td>
                <td class="text-right" *ngIf="holiday.validated">
                  {{dateDifference(holiday.fromDate, holiday.toDate)}}
                </td>
                <td class="text-right" *ngIf="holiday.validated">
                  {{holiday.approved ? 'Aprobat' : 'Respins'}}
                </td>
                <td class="text-right" *ngIf="holiday.validated">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [checked]="holiday.validated" disabled>
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-info fade show" *ngIf="!doWorkFromHomeRequestsThatNeedApprovalExist()">
    <span>Nu există cereri pentru Work From Home</span>
  </div>
  <div class="row" *ngIf="doWorkFromHomeRequestsThatNeedApprovalExist()">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Gestionează cereri Work From Home</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="">
              <th>
                Angajat
              </th>
              <th>
                Data angajare
              </th>
              <th>
                Data start ziua 1
              </th>
              <th>
                Ziua 1
              </th>
              <th>
                Data start ziua 2
              </th>
              <th>
                Ziua 2
              </th>
              <th class="text-right">
                Validat
              </th>
              <th class="text-right">
                Stare
              </th>
              <th class="text-right">
                Acțiune
              </th>
              </thead>
              <tbody>
              <tr *ngFor="let workFromHome of workFromHomeListOfManager">
                <td *ngIf="needsApproval(workFromHome.lastInitiationDate, workFromHome.lastProcessingDate)">
                  {{workFromHome.employee.firstName + ' '  + workFromHome.employee.lastName}}
                </td>
                <td *ngIf="needsApproval(workFromHome.lastInitiationDate, workFromHome.lastProcessingDate)">
                  {{formatDate(workFromHome.employee.joiningDate)}}
                </td>
                <td *ngIf="needsApproval(workFromHome.lastInitiationDate, workFromHome.lastProcessingDate)">
                  {{workFromHome.startDateDay1 ? formatDate(workFromHome.startDateDay1) : '-'}}
                </td>
                <td *ngIf="needsApproval(workFromHome.lastInitiationDate, workFromHome.lastProcessingDate)">
                  {{workFromHome.dayOfWeekDay1 ? workFromHome.dayOfWeekDay1.label : '-'}}
                </td>
                <td *ngIf="needsApproval(workFromHome.lastInitiationDate, workFromHome.lastProcessingDate)">
                  {{workFromHome.startDateDay2 ? formatDate(workFromHome.startDateDay2) : '-'}}
                </td>
                <td *ngIf="needsApproval(workFromHome.lastInitiationDate, workFromHome.lastProcessingDate)">
                  {{workFromHome.dayOfWeekDay2 ? workFromHome.dayOfWeekDay2.label : '-'}}
                </td>
                <td class="text-right" *ngIf="needsApproval(workFromHome.lastInitiationDate, workFromHome.lastProcessingDate)">
                  {{'În așteptare'}}
                </td>
                <td class="text-right" *ngIf="needsApproval(workFromHome.lastInitiationDate, workFromHome.lastProcessingDate)">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [checked]="false" disabled>
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
                <td class="text-right" *ngIf="needsApproval(workFromHome.lastInitiationDate, workFromHome.lastProcessingDate)">
                  <span class="btn btn-file btn-success btn-sm" title="Aprobă" (click)="validateWorkFromHomeRequest(workFromHome)">
                    <i class = "fa fa-check-circle"></i>
                    <input>
                  </span>
                  <span class="btn btn-file btn-danger btn-sm" title = "Respinge" (click)="rejectWorkFromHomeRequest(workFromHome)">
                    <i class = "fa fa-times-circle"></i>
                    <input>
                  </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-info fade show" *ngIf="!doOvertimeRequestsThatNeedApprovalExist()">
    <span>Nu există cereri pentru Overtime</span>
  </div>
  <div class="row" *ngIf="doOvertimeRequestsThatNeedApprovalExist()">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Gestionează cereri Overtime</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="">
              <th>
                Angajat
              </th>
              <th>
                Data
              </th>
              <th>
                Număr ore
              </th>
              <th class="text-right">
                Aprobat
              </th>
              <th class="text-right">
                Validat
              </th>
              <th class="text-right">
                Acțiune
              </th>
              </thead>
              <tbody>
              <tr *ngFor="let overtime of overtimeListOfManager">
                <td *ngIf="!overtime.validated">
                  {{overtime.employee.firstName + ' '  + overtime.employee.lastName}}
                </td>
                <td *ngIf="!overtime.validated">
                  {{formatDate(overtime.effectuationDate)}}
                </td>
                <td *ngIf="!overtime.validated">
                  {{overtime.numberOfHours}}
                </td>
                <td class="text-right" *ngIf="!overtime.validated">
                  {{'În așteptare'}}
                </td>
                <td class="text-right" *ngIf="!overtime.validated">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [checked]="false" disabled>
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
                <td class="text-right" *ngIf="!overtime.validated">
                  <span class="btn btn-file btn-success btn-sm" title="Aprobă" (click)="validateOvertimeRequest(overtime)">
                    <i class = "fa fa-check-circle"></i>
                    <input>
                  </span>
                  <span class="btn btn-file btn-danger btn-sm" title = "Respinge" (click)="rejectOvertimeRequest(overtime)">
                    <i class = "fa fa-times-circle"></i>
                    <input>
                  </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Istoric cereri Overtime </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="">
              <th>
                Angajat
              </th>
              <th>
                Data
              </th>
              <th>
                Număr ore
              </th>
              <th>
                Aprobat
              </th>
              <th>
                Validat
              </th>
              </thead>
              <tbody>
              <tr *ngFor="let overtime of overtimeListOfManager">
                <td *ngIf="overtime.validated">
                  {{overtime.employee.firstName + ' '  + overtime.employee.lastName}}
                </td>
                <td *ngIf="overtime.validated">
                  {{formatDate(overtime.effectuationDate)}}
                </td>
                <td *ngIf="overtime.validated">
                  {{overtime.numberOfHours}}
                </td>
                <td  *ngIf="overtime.validated">
                  {{overtime.approved}}
                </td>
                <td  *ngIf="overtime.validated">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [checked]="overtime.validated" disabled>
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

