@import "./vars";
mat-accordion.accordion-list {

  .mat-expansion-panel:last-of-type, .mat-expansion-panel:first-of-type {
    border-radius: 0;
  }

  .mat-expansion-panel {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);

    &:first-child {
      margin-top: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    .mat-expansion-panel-header {
      max-height: 50px;
      padding: 0 20px;

      .mat-content, .mat-content > * {
        align-items: baseline;
      }

      mat-panel-title {
        font-size: 20px;
        font-weight: 500;
        color: $blue-dark-1;
      }

      mat-panel-description {
        background-color: $grey-light-1;
      }

      .mat-expansion-indication::after {
        padding: 5px;
        border-width: 0 3px 3px 0;
        color: $blue-dark-1;
      }

      workday-status {
        .material-icons {
          position: relative;
          topx: 5px;
          margin-top: 5px;
          font-size: 20px;
        }
      }

      @media screen and (max-width: 900px) {
        mat-panel-description, workday-status .material-icons {
          display: none
        }
      }

      @media screen and (min-width: 901px) and (max-width: 1024px) {
        mat-panel-text-indent {
          font-size: 16px;
        }
        mat-panel-description {
          font-size: 14px;
        }
      }

      @media screen and (min-width: 1025px) and (max-width: 1400px) {
        mat-panel-title {
          font-size: 18px;
        }
        mat-panel-description {
          font-size: 16px;
        }
      }
    }
  }

  .inner-accordion {
    .mat-expansion-panel-header {
      background-color: $grey-light-1;
    }
    mat-expansion-panel-body {
      background-color: $grey-light-3;
    }
  }

  .mat-expansion-panel-body {
    background-color: $white;
    padding: 20px;
  }

  .mat-content > mat-panel-title, .mat-content > mat-panel-description {
    flex: 0 0 auto;
  }
}
