.workday-error-message, .workday-error-id, .workday-error-description, .workday-error-description-title {
  margin-top: 20px;
}

.workday-error-message, .workday-error-code, .workday-error-description {
  color: $blue-dark-1;
  font-weight: 500;
}
