mat-radio-group {

  &.mat-radio-group-inline {
    .mat-radio-button:first-child {
      margin-left: 10px;
    }
  }

  .mat-radio-button:not(:first-child) {
    margin-left: 30px;
  }

  .mat-radio-button .mat-radio-ripple {
    display: none;
  }
  .mat-radio-button.mat-accent .mat-radio-inner.circle {
    background-color: $red;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $red;
  }

  /deep/ .mat-radio-label {
    margin: 0;
  }

  /deep/ .mat-radio-outer-circle {
    background: $white;
    border-width: 1px;
  }
}
