.mat-snack-bar-container {
  border: solid 1px #c5f1fa;
  border-radius: 2px;
  &.success {
    background-color: $green-light;
    border-color: $green;
    .mat-simple-snackbar, .mat-button-wrapper {
      color: $blue-dark-2;
      font-weight: 500;
    }
  }
  &.warning {
    color: $blue-dark-1;
    background-color: $orange-light;
    border-color: $orange;
    .mat-simple-snackbar, .mat-button-wrapper {
      color: $blue-dark-1;
      font-weight: 500;
    }
  }
  &.error {
    color: $blue-dark-1;
    background-color: $red-light;
    border-color: $red;
    .mat-simple-snackbar, .mat-button-wrapper {
      color: $blue-dark-1;
      font-weight: 500;
    }
  }
}
