/deep/ .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $blue-dark-1;
}

.workday-tab {
  /deep/ .mat-tab-label {
    padding: 15px;
  }

  mat-tab-header {
    workday-status {
      margin-left: 10px;
      margin-top: 5px;
    }
  }
}
