
<div class="main-content">

  <div class="row">
    <div class="col-md-12" >
      <div class="card">
        <div class="card-body">
          <div class="row" >
            <div class="col-lg-5 col-md-6 col-sm-3" style="margin: 0vw 1.5vw;">
              <select class="selectpicker" data-size="7" data-style="btn btn-outline-danger btn-round" title="Anul"
                      (change)="selectChangeHandler($event)" >
                <option  *ngFor="let year of yearsInCompany" [selected]="year == yearsInCompany[yearsInCompany.length-1]">
                  {{year}}
                </option>
              </select>
            </div>
          </div>
        </div>
          <div class="table-responsive">
            <table class="table">
              <thead class="">
              <th>
               De la
              </th>
              <th>
                Până
              </th>
              <th>
                Motiv plecare
              </th>
              <th class="text-right">
                Număr zile
              </th>
              <th class="text-right">
                Stare
              </th>
              <th class="text-right">
                Validat
              </th>
              </thead>
              <tbody>
              <tr  *ngFor="let holiday of holidays">
                <td *ngIf="yearsAreEqual(holiday.from, this.selectedYear)">
                  {{holiday.from}}
                </td>
                <td *ngIf="yearsAreEqual(holiday.from, this.selectedYear)">
                  {{holiday.to}}
                </td>
                <td *ngIf="yearsAreEqual(holiday.from, this.selectedYear)">
                  {{holiday.holidayType.label}}
                </td>
                <td class="text-right" *ngIf="yearsAreEqual(holiday.from, this.selectedYear)">
                  {{dateDifference(holiday.from, holiday.to)}}
                </td>
                <td class="text-right" *ngIf="yearsAreEqual(holiday.from, this.selectedYear)">
                  {{holiday.approved ? 'Aprobat' : 'În aprobare'}}
                </td>
                <td class="text-right" *ngIf="yearsAreEqual(holiday.from, this.selectedYear)">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [checked]="holiday.validated">
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

