<div class="main-content">
  <div class="alert alert-primary fade show" *ngIf="!isDoesAnyAddressExist">
    <span>Nu a fost adăugată încă nicio adresă"</span>
  </div>


  <div class="row" *ngFor="let address of addresses; let i = index">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div id="accordion{{i}}" role="tablist" aria-multiselectable="true" class="card-collapse">
            <h4 class="card-title">Adresă {{ address.addressType.label}} </h4>
            <div class="card card-plain">
              <div class="card-header" role="tab" id="headingOne">
                <a data-toggle="collapse" data-parent="#accordion{{i}}" href="#collapseOne{{i}}" aria-expanded="false"
                   aria-controls="collapseOne{{i}}">
                  {{address.street + ' ' + address.number + ', ' + address.locality.label}}
                  <i class="nc-icon nc-minimal-down"></i>
                </a>
              </div>
              <div id="collapseOne{{i}}" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                  <form [formGroup]="addressFormGroups[i]" *ngIf="addressFormGroups">
                    <div class="row">
                      <div class="col-sm-10">
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-6" >
                            <select id = 'addressType-{{i}}' formControlName="addressType" class="selectpicker form-control mt-sm-3" data-size="7" required="required"
                                    data-style="btn btn-outline-success btn-round"
                                    title="Tip adresă">
                              <option *ngFor="let referential of addressReferentials">
                                {{referential.label}}
                              </option>
                            </select>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Stradă</label>
                              <input formControlName="street" type="text" class="form-control" placeholder="Strada">
                            </div>
                            <small [hidden]="!addressFormGroups[i].get('street').errors" class="text-danger">
                              Nu ați introdus numele străzii.
                            </small>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <label>Număr</label>
                              <input formControlName="number" type="text" class="form-control" placeholder="Număr">
                            </div>
                            <small [hidden]="!addressFormGroups[i].get('number').errors" class="text-danger">
                              Nu ați introdus numărul.
                            </small>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Bloc</label>
                              <input formControlName="block" type="text" class="form-control" placeholder="Bloc">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Scara</label>
                              <input formControlName="stairwell" type="text" class="form-control" placeholder="Scară">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Etaj</label>
                              <input formControlName="floor" type="text" class="form-control" placeholder="Etaj">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Apartament</label>
                              <input formControlName="apartmentNumber" type="text" class="form-control"
                                     placeholder="Apartament">
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Localitate</label>
                              <input formControlName="locality" type="text" class="form-control"
                                     placeholder="Localitate">
                            </div>
                            <small [hidden]="!addressFormGroups[i].get('locality').errors" class="text-danger">
                              Nu ați introdus localitatea.
                            </small>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Județ</label>
                              <input formControlName="county" type="text" class="form-control" placeholder="Județ">
                            </div>
                            <small [hidden]="!addressFormGroups[i].get('county').errors" class="text-danger">
                              Nu ați introdus județul.
                            </small>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Țară</label>
                              <input formControlName="country" type="text" class="form-control" placeholder="Țară">
                            </div>
                            <small [hidden]="!addressFormGroups[i].get('county').errors" class="text-danger">
                              Nu ați introdus țara.
                            </small>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <label>Cod poștal</label>
                              <input formControlName="postalCode" type="text" class="form-control"
                                     placeholder="Cod poștal">
                            </div>
                            <small [hidden]="!addressFormGroups[i].get('postalCode').errors" class="text-danger">
                              Nu ați introdus codul poștal.
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card-footer text-right">
                      <button (click)="putAddress(i)" [disabled]="addressFormGroups[i].pristine || addressFormGroups[i].pending" type="submit" class="btn btn-outline-danger btn-round mb-3">Salvează</button>
                    </div>

                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="text-right">
    <button type="submit" class="btn btn-outline-danger btn-round mb-3" data-toggle="modal"
            data-target="#newAddressModal" (click)="reinitializePicker()">Adaugă adresă nouă
    </button>
  </div>

  <div class="modal fade" id="newAddressModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="nc-icon nc-simple-remove"></i>
          </button>
          <h4 class="title">Adresă nouă pentru {{employee.lastName + ' ' + employee.firstName}}</h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="newAddressForm" *ngIf="newAddressForm">
            <div class="row">
              <div class="col-lg-5 col-md-4 col-sm-3">
                <select id = "addressType" formControlName="addressType" class="selectpicker form-control" data-size="7"
                        data-style="btn btn-outline-success btn-round"
                        title="Tip adresă">
                  <option *ngFor="let referential of addressReferentials">
                    {{referential.label}}
                  </option>
                </select>
              </div>
              <div class="col-md-4 text-center">
                <div class="form-group">
                  <!--                  <label >De la</label>-->
                  <input formControlName="street" type="text" class="form-control text-center mt-sm-2"
                         placeholder="Stradă">
                </div>
              </div>
              <div class="col-md-3 text-center">
                <div class="form-group">
                  <!--                  <label>Până</label>-->
                  <input formControlName="number" type="text" class="form-control text-center mt-sm-2"
                         placeholder="Număr">
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-3 text-center">
                <div class="form-group">
                  <!--                  <label >De la</label>-->
                  <input formControlName="block" type="text" class="form-control text-center mt-sm-2"
                         placeholder="Bloc">
                </div>
              </div>
              <div class="col-md-3 text-center">
                <div class="form-group">
                  <!--                  <label >De la</label>-->
                  <input formControlName="stairwell" type="text" class="form-control text-center mt-sm-2"
                         placeholder="Scară">
                </div>
              </div>
              <div class="col-md-3 text-center">
                <div class="form-group">
                  <!--                  <label>Până</label>-->
                  <input formControlName="floor" type="text" class="form-control text-center mt-sm-2"
                         placeholder="Etaj">
                </div>
              </div>
              <div class="col-md-3 text-center">
                <div class="form-group">
                  <!--                  <label>Până</label>-->
                  <input formControlName="apartmentNumber" type="text" class="form-control text-center mt-sm-2"
                         placeholder="Apartament">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <!--                  <label>Bloc</label>-->
                  <button type="button" class="btn btn-outline-info btn-round mb-3" data-toggle="modal"
                          data-target="#citiesModal">{{setLocality()}}
                  </button>
                  <!--                  <input formControlName="locality" type="text" class="form-control" placeholder="Localitate">-->
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <!--                  <label>Scara</label>-->
                  <input formControlName="county" type="text" class="form-control text-center mt-sm-2"
                         placeholder="Județ" disabled [value]="isALocalitySelected() ? selectedLocality[1]: ''">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <!--                  <label>Etaj</label>-->
                  <input formControlName="country" type="text" class="form-control text-center mt-sm-2"
                         placeholder="Țară" disabled [value]="isALocalitySelected() ? selectedLocality[2]: ''">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <!--                  <label>Apartament</label>-->
                  <input formControlName="postalCode" type="text" class="form-control text-center mt-sm-2"
                         placeholder="Cod poștal">
                </div>
              </div>
            </div>


          </form>
          <div class="modal-footer">
            <div class="left-side">
              <button  [disabled]="newAddressForm && (newAddressForm.pristine || newAddressForm.invalid) || !isALocalitySelected()" type="button" class="btn btn-default btn-link" data-dismiss="modal" (click)="putNewAddress()">Salvează adresa
              </button>
            </div>
            <div class="divider"></div>
            <div class="right-side">
              <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Închide</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="citiesModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-bg">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="nc-icon nc-simple-remove"></i>
          </button>
          <h4 class="title">Listă orașe</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <table id="datatable" class="table table-bordered" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th class="text-capitalize">Oraș</th>
                <th class="text-capitalize">Județ</th>
                <th class="text-capitalize">Țară</th>
              </tr>
              </thead>
              <tbody>
                            <tr class = "locality" *ngFor="let localityReferential of localities" (click)="selectRow($event)"
                                [class.selected]="localityReferential.label === selectedLocality[0] &&
                                                     localityReferential.county.label === selectedLocality[1] &&
                                                     localityReferential.country.label === selectedLocality[2]">
                              <td >{{localityReferential.label}}</td>
                              <td>{{localityReferential.county.label}}</td>
                              <td>{{localityReferential.country.label}}</td>
                            </tr>
              </tbody>
            </table>
          </div>
          <!-- end content-->
        </div>

        <div class="modal-footer">
          <div class="left-side">
            <button type="button" class="btn btn-default btn-link" data-dismiss="modal"
                    [disabled]="!isALocalitySelected()">Confirmă
            </button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Închide</button>
          </div>
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
  </div>
</div>

