<div class="main-content">
  <div class="row">


    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Gestionează zile WFH</h4>
        </div>
        <div class="card-body ">
          <form [formGroup]="workFromHomeFormGroup" class="form-horizontal"
                *ngIf="workFromHomeFormGroup">
            <div class="row">
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Dată angajare</label>
                      <input formControlName="joiningDate" id="joiningDate" type="text" class="form-control"
                             placeholder="Dată angajare">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Dată start ziua 1 WFH</label>
                      <input formControlName="startDateDay1" id="startDateDay1" type="text" class="form-control"
                             placeholder="Dată start ziua 1 WFH">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Dată start ziua 2 WFH</label>
                      <input formControlName="startDateDay2" id="startDateDay2" type="text" class="form-control"
                             placeholder="Dată start ziua 2 WFH">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <select (change)="onDayOfWeekDay1Change($event)" formControlName="dayOfWeekDay1" id="dayOfWeekDay1"
                            class="selectpicker form-control" data-size="7"
                            data-style="btn btn-outline-success btn-round"
                            title="Ziua 1 WFH">
                      <option *ngFor="let referential of dayOfWeekReferentials">
                        {{referential.label}}
                      </option>
                    </select>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <select (change)="onDayOfWeekDay2Change($event)" formControlName="dayOfWeekDay2" id="dayOfWeekDay2"
                            class="selectpicker form-control" data-size="7"
                            data-style="btn btn-outline-success btn-round"
                            title="Ziua 2 WFH">
                      <option *ngFor="let referential of dayOfWeekReferentials">
                        {{referential.label}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>


            <div class="alert alert-warning fade show" *ngIf=" workFromHome.potentialDayOfWeekDay1">
              <span> A fost solicitată modificarea zilei 1 WFH. Aceasta este încă în proces de validare.</span>
            </div>

            <div class="alert alert-warning fade show" *ngIf=" workFromHome.potentialDayOfWeekDay2">
              <span> A fost solicitată modificarea zilei 2 WFH. Aceasta este încă în proces de validare.</span>
            </div>

            <div class="card-footer text-right">
              <button [disabled]="workFromHome.potentialDayOfWeekDay1 || workFromHome.potentialDayOfWeekDay2"
                      type="submit" class="btn btn-outline-danger btn-round mb-3" (click)="putWorkFromHome()">Trimite
                spre Validare
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>

  </div>
</div>
